* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web",sans-serif;
}

:root {
    --rich-black: #0D1321;
    --prussian-blue: #1D2D44;
    --paynes-gray: #1D2D44;
    --silver-lake-blue: #748CAB;
    --eggshell: #F0EBD8;
}

header {
    display: flex;
    background: var(--eggshell);
    height: 6rem;
    justify-content: center;
    align-items: center;
}

img {
    width: 16rem;
}

.primeira {
    display: flex;
    gap: 8rem;
}

.segunda {
    display: flex;
    background-color: var(--silver-lake-blue);
    height: 24rem;
    justify-content: center;
    align-items: stretch;
}