* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web",sans-serif;
}

:root {
    --rich-black: #0D1321;
    --prussian-blue: #1D2D44;
    --paynes-gray: #1D2D44;
    --silver-lake-blue: #748CAB;
    --eggshell: #F0EBD8;
}

header {
    display: flex;
    background: var(--eggshell);
    height: 6rem;
    justify-content: center;
    align-items: center;
}

img {
    width: 16rem;
}

.primeira {
    display: flex;
    gap: 8rem;
}

.primeira p {
    max-width: 24rem;
}

.segunda {
    display: flex;
    background-color: var(--silver-lake-blue);
    height: 24rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.segunda img {
    width: 16rem;
    height: 16rem;
}

.segunda p {
    max-width: 20rem;
}

.terceira {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.terceira img {
    width: 16rem;
    height: 16rem;
}